*{
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #D9D9D9;
    text-align: center;
}

h1,h2{
    background-color: #C4C4C4;
    color: #005677;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.destacado{
    font-style: italic;
    font-weight: bold;
}

.importante{
    font-weight: bold;
}

footer{
    background-color: #005677;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
}

.img-redes{
    width: 15px;
}